<!DOCTYPE html>
<html lang="zh-CN">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body class="page-{{ page.layout }}{% if page.url == '/' %} page-home{% elsif page.url == '/tags/' %} page-tags{% elsif page.url == '/about/' %} page-about{% endif %}" ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon-512.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
